@font-face {
    font-family: "circular";
    src: url("circular-book.woff") format('woff');
}

@font-face {
    font-family: "circular-bold";
    src: url("circular-bold.woff") format('woff');
}

html, body { padding: 0; margin: 0; height:100% }
html { overflow: hidden }
body {
    height: 100%;
}
h1, h2 {
    font-family: "Alegreya";
    text-align: center;
}
.container  {
    height:100%;
    overflow-y: scroll;
    position: relative;
    font-family: "circular", sans-serif;
    font-size: 20px;
    -webkit-overflow-scrolling: touch;
}
.chart  {
    position: sticky;
    width: 100%;
    height: 500px; /* <== Manipulated by Javascript */
    top: calc(50% - 100px);
    text-align: center;
    z-index: -1;

    /* Safari workarounds: */
    pointer-events: none;
    display: block;
    position: -webkit-sticky;
}
.chart > div {
    width: 100%;
    height: 100%;
    position: relative;
}
.chart > div > * {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.container.constrain  {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}
.container.constrain > div {
    max-width: 600px;
    margin: 0 auto 0 auto;
}
.container > * > h1 {
    margin-bottom: 12px;
}
.container > * > p:first-of-type {
    font-size: 12px;
    margin: 0;
}
.center {
    text-align: center;
}
segment.small {
    font-size: 18px;
}
.panel > h2 {
    height: inherit;
    background: rgba(255, 200, 0, 0.7);
}
segment {
    display: block;
    height: 500px; /* <== Manipulated by Javascript */
    width: 100%;
}
segment > * {
    background: rgba(255, 255, 255, 0.7);
    margin: 0 auto 0 auto;
    padding: 10px;
}
.intro {
    padding: 10px;
    font-size: 18px;
}
a, a:visited {
    text-decoration: none;
    color: #06c;
}
a:hover {
    font-weight: bold;
}
